html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, main, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

a { background: transparent; }
a img { border: none; }

a, a:link, a:visited, a:hover, a:active, a:focus { outline: 0; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

.container { width: 100%; max-width: 1200px; min-width: 640px; margin: 0 auto; }
.container .row { *zoom: 1; }
.container .row:before, .container .row:after { content: " "; display: table; }
.container .row:after { clear: both; }
.container .row .col { min-height: 1px; padding: 0 5px; float: left; }
.container .row .col.col-1 { width: 8.33333%; }
.container .row .col.col-2 { width: 16.66667%; }
.container .row .col.col-3 { width: 25%; }
.container .row .col.col-4 { width: 33.33333%; }
.container .row .col.col-5 { width: 41.66667%; }
.container .row .col.col-6 { width: 50%; }
.container .row .col.col-7 { width: 58.33333%; }
.container .row .col.col-8 { width: 66.66667%; }
.container .row .col.col-9 { width: 75%; }
.container .row .col.col-10 { width: 83.33333%; }
.container .row .col.col-11 { width: 91.66667%; }
.container .row .col.col-12 { width: 100%; }
.container .row .col .row .col:first-child { padding-left: 0; }
.container .row .col .row .col:last-child { padding-right: 0; }

html { height: 100%; }

body { background-color: #fff; }
body.lt-ie9 .browserhappy, body.ie9 .browserhappy { display: block; }

.browserhappy { display: none; }

body { font-family: Helvetica Neue, Arial, Helvetica, sans-serif; line-height: 1.5; color: #222222; background-color: #f1f1f1; }

h1, h2, h3, h4, h5, h6 { color: #111111; font-weight: normal; }

h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }

h2 { font-size: 2em; margin-bottom: 0.75em; }

h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }

h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }

h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }

h6 { font-size: 1em; font-weight: bold; }

a { text-decoration: none; }

.small { font-size: 60%; }

.overlay { position: fixed; width: 100%; height: 100%; top: 0; left: 0; bottom: 0; right: 0; background-color: rgba(46, 133, 163, 0.5); z-index: 10000; display: none; }
.overlay #spinner-box { width: 50px; height: 50px; position: absolute; }
.overlay.active { display: block; }

#topbar { height: 100px; background-color: #2e85a3; -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 5px 5px; -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 5px 5px; box-shadow: rgba(0, 0, 0, 0.15) 0 5px 5px; }
#topbar .container { height: 100%; }
#topbar .container .row { height: 100%; }
#topbar .logo { float: left; padding: 5px; -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg); -ms-transform: rotate(-5deg); -o-transform: rotate(-5deg); transform: rotate(-5deg); }
#topbar .title { float: left; padding: 25px 5px; }
#topbar .title h1 { text-align: center; color: #ffd32f; margin: 0; font-weight: bold; }
#topbar .title h1 a { color: inherit; }
#topbar .navs { height: 100%; *zoom: 1; color: #ffd32f; font-size: 120%; }
#topbar .navs:before, #topbar .navs:after { content: " "; display: table; }
#topbar .navs:after { clear: both; }
#topbar .navs [class^="nav-"], #topbar .navs [class^=" nav-"] { height: 100%; }
#topbar .navs [class^="nav-"] ul, #topbar .navs [class^=" nav-"] ul { *zoom: 1; height: 100%; }
#topbar .navs [class^="nav-"] ul:before, #topbar .navs [class^="nav-"] ul:after, #topbar .navs [class^=" nav-"] ul:before, #topbar .navs [class^=" nav-"] ul:after { content: " "; display: table; }
#topbar .navs [class^="nav-"] ul:after, #topbar .navs [class^=" nav-"] ul:after { clear: both; }
#topbar .navs [class^="nav-"] ul li, #topbar .navs [class^=" nav-"] ul li { height: 100%; float: left; }
#topbar .navs [class^="nav-"] ul li .nav-box, #topbar .navs [class^=" nav-"] ul li .nav-box { height: 100%; padding: 5px; text-align: center; }
#topbar .navs [class^="nav-"] ul li .nav-box h5, #topbar .navs [class^=" nav-"] ul li .nav-box h5 { color: inherit; margin: 0; }
#topbar .navs [class^="nav-"] ul li .nav-box p, #topbar .navs [class^=" nav-"] ul li .nav-box p { font-size: 60%; }
#topbar .navs [class^="nav-"] ul li .nav-box a.btn, #topbar .navs [class^=" nav-"] ul li .nav-box a.btn { font-size: 60%; color: #2e85a3; text-decoration: none; outline: none; padding: 3px 6px; background-color: #ffd32f; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; font-weight: bold; cursor: pointer; display: inline-block; vertical-align: middle; }
#topbar .navs [class^="nav-"] ul li a, #topbar .navs [class^=" nav-"] ul li a { display: block; padding: 5px; color: inherit; }
#topbar .navs .nav-left { float: left; }
#topbar .navs .nav-right { float: right; }

#main { padding: 20px 0; }
#main .articles_nav { *zoom: 1; padding: 10px 5px; }
#main .articles_nav:before, #main .articles_nav:after { content: " "; display: table; }
#main .articles_nav:after { clear: both; }
#main .articles_nav .btn { font-size: 16px; color: #fff; text-decoration: none; outline: none; padding: 4px 8px; background-color: #2e85a3; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; font-weight: bold; cursor: pointer; display: inline-block; vertical-align: middle; }
#main .articles_nav .btn.prev { float: left; }
#main .articles_nav .btn.next { float: right; }
#main #articles .article { *zoom: 1; background-color: #fff; padding: 10px; -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px; -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px; box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px; margin-bottom: 10px; }
#main #articles .article:before, #main #articles .article:after { content: " "; display: table; }
#main #articles .article:after { clear: both; }
#main #articles .article:nth-child(2n+1) { background-color: #eff8fa; }
#main #articles .article .article-picture { float: left; }
#main #articles .article .article-details { margin-left: 160px; }
#main #articles .article .article-details .article-name { margin-bottom: 5px; padding-bottom: 5px; border-bottom: 1px solid #2e85a3; font-weight: bold; }
#main #articles .article .article-details .article-name, #main #articles .article .article-details .article-name a { color: #2e85a3; }
#main #articles .article .article-details .article-description p { padding: 5px 0; }
#main #articles .article .article-details .article-description .btn { font-size: 16px; color: #fff; text-decoration: none; outline: none; padding: 4px 8px; background-color: #2e85a3; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; font-weight: bold; cursor: pointer; display: inline-block; vertical-align: middle; }
#main #articles .article .article-details .article-price { padding: 10px 0; }
#main #articles .article .article-details .article-price p { text-align: center; font-weight: bold; }
#main #articles .article .article-details .article-stock { padding: 10px 0; }
#main #articles .article .article-details .article-stock p { text-align: center; font-weight: bold; }
#main #articles .article .article-details .article-stock p.success { color: #29aa1e; }
#main #articles .article .article-details .article-stock p.alert { color: #ff5026; }
#main #articles .article .article-details .article-stock p.warn { color: #ffc050; }
#main #articles .article .article-details .article-to-cart { padding: 10px 0; }
#main #articles .article .article-details .article-to-cart .btn { font-size: 20px; color: #fff; text-decoration: none; outline: none; padding: 8px 15px; background-color: #2e85a3; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; font-weight: bold; cursor: pointer; display: inline-block; vertical-align: middle; }
#main #articles .article .article-details .article-to-cart .btn.disabled { background-color: #aaa; cursor: default; }

.single-article #main { min-height: 1000px; }
.single-article #main #article { background-color: #fff; padding: 10px; }
.single-article #main #article h3 { color: #2e85a3; margin-bottom: 5px; padding-bottom: 5px; border-bottom: 1px solid #2e85a3; font-weight: bold; }
.single-article #main #article .article-picture img { width: 150px; }
.single-article #main #article .article-description { padding: 10px 0; text-align: justify; }
.single-article #main #article .article-price { padding: 10px 0; }
.single-article #main #article .article-price p { color: #2e85a3; font-size: 180%; text-align: center; font-weight: bold; }
.single-article #main #article .article-stock { padding: 10px 0; }
.single-article #main #article .article-stock p { font-size: 140%; text-align: center; font-weight: bold; }
.single-article #main #article .article-stock p.success { color: #29aa1e; }
.single-article #main #article .article-stock p.alert { color: #ff5026; }
.single-article #main #article .article-stock p.warn { color: #ffc050; }
.single-article #main #article .article-quantity { text-align: center; padding: 20px 0; }
.single-article #main #article .article-quantity #article-quantity-field { display: inline-block; padding: 4px; vertical-align: middle; border: 1px solid #ddd; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; max-width: 50px; text-align: center; line-height: 20px; height: 28px; }
.single-article #main #article .article-quantity .wrapper { display: inline-block; vertical-align: middle; }
.single-article #main #article .article-quantity span.label { display: inline-block; vertical-align: middle; font-size: 20px; }
.single-article #main #article .article-quantity a.article-plus, .single-article #main #article .article-quantity a.article-minus { display: inline-block; color: #aaa; vertical-align: middle; font-size: 20px; }
.single-article #main #article .article-command { text-align: center; }
.single-article #main #article .article-command .btn { color: #2e85a3; text-decoration: none; outline: none; padding: 8px 15px; background-color: #ffd32f; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; font-weight: bold; cursor: pointer; display: inline-block; vertical-align: middle; }
.single-article #main #article .article-command .btn.disabled { background-color: #aaa; cursor: default; }

.cart #main { min-height: 1000px; }
.cart #main #articles-list { padding: 10px; }
.cart #main #articles-list .article { background-color: #fff; padding: 10px; -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px; -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px; box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px; margin-bottom: 10px; }
.cart #main #articles-list .article:nth-child(2n+1) { background-color: #eff8fa; }
.cart #main #articles-list .article .article-picture img { width: 75px; }
.cart #main #articles-list .article .article-name { font-weight: bold; font-size: 90%; }
.cart #main #articles-list .article .article-name, .cart #main #articles-list .article .article-name h6, .cart #main #articles-list .article .article-name a { color: #2e85a3; }
.cart #main #articles-list .article .article-stock p { text-align: center; font-weight: bold; }
.cart #main #articles-list .article .article-stock p.success { color: #29aa1e; }
.cart #main #articles-list .article .article-stock p.alert { color: #ff5026; }
.cart #main #articles-list .article .article-stock p.warn { color: #ffc050; }
.cart #main #articles-list .article .article-price p { color: #2e85a3; text-align: center; font-weight: bold; }
.cart #main #articles-list .article .article-quantity .article-quantity-field { display: inline-block; padding: 4px; vertical-align: middle; border: 1px solid #ddd; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; max-width: 50px; text-align: center; line-height: 20px; height: 28px; }
.cart #main #articles-list .article .article-quantity a.article-plus, .cart #main #articles-list .article .article-quantity a.article-minus { display: inline-block; color: #aaa; vertical-align: middle; font-size: 20px; }
.cart #main #articles-list .article .article-row-amount p { color: #2e85a3; text-align: center; font-weight: bold; }
.cart #main #total { padding: 10px; color: #fff; margin-bottom: 10px; }
.cart #main #total .row { background-color: #2e85a3; -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px; -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px; box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px; padding: 10px; }
.cart #main #total .row #label { text-align: right; font-size: 140%; }
.cart #main #total .row #amount { text-align: center; font-size: 140%; }

#footer { min-height: 250px; background-color: #2e85a3; -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 5px 5px inset; -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 5px 5px inset; box-shadow: rgba(0, 0, 0, 0.15) 0 5px 5px inset; padding: 10px 0 0 0; }
