@import "compass";
@import "normalize";
@import "mixins";
@import "grid";

///////////////////////
//// vars /////////////
$blueBeauval: #2E85A3;
$jauneBeauval: #FFD32F;


///////////////////////
html{
  height: 100%;
}
// ie < 10
body{
  background-color: #fff;
  &.lt-ie9, &.ie9{
    .browserhappy{
      display: block;
    }
  }
}

.browserhappy{
  display: none;
}

body{
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #222222;
  background-color: #f1f1f1;
}
h1, h2, h3, h4, h5, h6 {
  color: #111111;
  font-weight: normal;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
}
a{
  text-decoration: none;
}


#topbar{
  .container{
    height: 100%;
    .row{
      height: 100%;
    }
  }
  height: 100px;
  background-color: $blueBeauval;
  @include box-shadow(rgba(darken($blueBeauval, 50%), 0.15) 0 5px 5px );
  .logo{
    float: left;
    padding: 5px;
    @include rotateZ(-5deg);
  }
  .title{
    float: left;
    padding: 25px 5px;
    h1{
      text-align: center;
      color: $jauneBeauval;
      margin: 0;
      font-weight: bold;
    }
  }
  .navs{
    height: 100%;
    @include clearfix;
    //line-height: 100px;
    color: $jauneBeauval;
    font-size: 120%;
    [class^="nav-"],[class^=" nav-"]{
      height: 100%;
      ul{
        @include clearfix;
        height: 100%;
        li{
          height: 100%;

          float: left;
          .nav-box{
            height: 100%;
            padding: 5px;
            text-align: center;
            h5{
              color: inherit;
              margin: 0;
            }
            p{
              font-size: 60%;

            }
            a.btn{
              //font-size: 16px;
              font-size: 60%;
              color: $blueBeauval;
              text-decoration: none;
              outline: none;
              padding: 3px 6px;
              background-color: $jauneBeauval;
              @include border-radius(5px);
              font-weight: bold;
              cursor: pointer;
              display: inline-block;
              vertical-align: middle;
            }
          }
          a{
            display: block;
            padding: 5px;
            color: inherit;
          }
        }
      }
    }
    .nav-left{
      float: left;
    }
    .nav-right{
      float: right;
    }
  }
}

#main{
  padding: 20px 0;
  .articles_nav{
    @include clearfix;
    padding: 10px 5px;
    .btn{
      font-size: 16px;
      color: #fff;
      text-decoration: none;
      outline: none;
      padding: 4px 8px;
      background-color: $blueBeauval;
      @include border-radius(5px);
      font-weight: bold;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      &.prev{
        float: left;
      }
      &.next{
        float: right;
      }
    }
  }
  #articles{
    .article{
      @include clearfix;
      background-color: #fff;
      padding: 10px;
      &:nth-child(2n+1){
        background-color: lighten($blueBeauval, 55%);
      }
      @include box-shadow(rgba(0,0,0,0.1) 0 0 4px);
      .article-picture{
        float: left;
      }
      .article-details{
        margin-left: 160px;
        .article-name{
          &,a{

            color: $blueBeauval;
          }
          margin-bottom: 5px;
          padding-bottom: 5px;
          border-bottom: 1px solid $blueBeauval;
          font-weight: bold;
        }
        .article-description{
          p{
            padding: 5px 0;
          }
          .btn{
            font-size: 16px;
            color: #fff;
            text-decoration: none;
            outline: none;
            padding: 4px 8px;
            background-color: $blueBeauval;
            @include border-radius(5px);
            font-weight: bold;
            cursor: pointer;
            display: inline-block;
            vertical-align: middle;

          }
        }
        .article-price{
          padding: 10px 0;
          p{
            text-align: center;
            font-weight: bold;
          }
        }
        .article-stock{
          padding: 10px 0;
          p{
            text-align: center;
            font-weight: bold;
            &.success{
              color: #29aa1e;
            }
            &.alert{
              color: #ff5026;
            }
            &.warn{
              color: #ffc050;
            }
          }
        }
        .article-to-cart{
          padding: 10px 0;
          .btn{
            font-size: 20px;
            color: #fff;
            text-decoration: none;
            outline: none;
            padding: 8px 15px;
            background-color: $blueBeauval;
            @include border-radius(5px);
            font-weight: bold;
            cursor: pointer;
            display: inline-block;
            vertical-align: middle;
            &.disabled{
              background-color: #aaa;
              cursor: default;
            }
          }
        }
      }
      //border-bottom: 1px solid $blueBeauval;
      margin-bottom: 10px;
    }
  }
}

#footer{
  min-height: 250px;
  background-color: $blueBeauval;
  @include box-shadow(rgba(darken($blueBeauval, 50%), 0.15) 0 5px 5px inset);
  padding: 10px 0 0 0;
}
