@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, main, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

a { background: transparent; }
a img { border: none; }

a, a:link, a:visited, a:hover, a:active, a:focus { outline: 0; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

.container { width: 100%; max-width: 1200px; min-width: 640px; margin: 0 auto; }
.container .row { *zoom: 1; }
.container .row:before, .container .row:after { content: " "; display: table; }
.container .row:after { clear: both; }
.container .row .col { min-height: 1px; padding: 0 5px; float: left; }
.container .row .col.col-1 { width: 8.33333%; }
.container .row .col.col-2 { width: 16.66667%; }
.container .row .col.col-3 { width: 25%; }
.container .row .col.col-4 { width: 33.33333%; }
.container .row .col.col-5 { width: 41.66667%; }
.container .row .col.col-6 { width: 50%; }
.container .row .col.col-7 { width: 58.33333%; }
.container .row .col.col-8 { width: 66.66667%; }
.container .row .col.col-9 { width: 75%; }
.container .row .col.col-10 { width: 83.33333%; }
.container .row .col.col-11 { width: 91.66667%; }
.container .row .col.col-12 { width: 100%; }
.container .row .col .row .col:first-child { padding-left: 0; }
.container .row .col .row .col:last-child { padding-right: 0; }

body { font-family: "Open sans", arial, sans-serif; font-size: 16px; line-height: 1.45; color: #333; }

p { margin-bottom: 5px; }

a { text-decoration: none; outline: none; cursor: pointer; color: #53a3ff; }

h1, h2, h3, h4, h5, h6 { font-weight: 700; }

h1 { font-size: 2.5em; }

h2 { font-size: 2em; }

h3 { font-size: 1.8em; }

h4 { font-size: 1.5em; }

h5 { font-size: 1.2em; }

h6 { font-size: 1.1em; }

html { height: 100%; }

body { background-color: #fff; }
body.lt-ie9 .browserhappy, body.ie9 .browserhappy { display: block; }

.browserhappy { display: none; }

/* widgets /////////////////////////////////
*/
.menu-accordeon > li { margin-bottom: 2px; }
.menu-accordeon > li .titre { background-color: #323232; color: white; font-size: 18px; padding: 5px; margin-bottom: 0; cursor: pointer; position: relative; }
.menu-accordeon > li .titre > span { position: absolute; display: block; bottom: 0; right: 0; width: 30px; height: 30px; text-align: center; }
.menu-accordeon > li .titre > span i.fa { -webkit-transition: -webkit-transform 0.15s linear; -moz-transition: -moz-transform 0.15s linear; -o-transition: -o-transform 0.15s linear; transition: transform 0.15s linear; }
.menu-accordeon > li .titre > span i.fa.up { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
.menu-accordeon > li > ul.activated li:first-child { -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 5px 3px inset; -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 5px 3px inset; box-shadow: rgba(0, 0, 0, 0.15) 0 5px 3px inset; }
.menu-accordeon > li > ul.open { display: block; }
.menu-accordeon > li > ul.close { display: none; }
.menu-accordeon > li > ul > li { position: relative; padding: 5px; display: block; color: white; background-color: #585858; border-left: 1px solid #323232; border-right: 1px solid #323232; border-bottom: 1px solid #323232; }
.menu-accordeon > li > ul > li a { color: white; }

.message { padding: 10px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
.message.warn { background-color: #ffb441; color: #d86c3d; -webkit-box-shadow: #da8400 1px 1px 0, #da8400 2px 2px 0; -moz-box-shadow: #da8400 1px 1px 0, #da8400 2px 2px 0; box-shadow: #da8400 1px 1px 0, #da8400 2px 2px 0; }

.btn { background-color: #ccc; color: #333; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; border: none; outline: none; padding: 4px 8px; cursor: pointer; display: inline-block; vertical-align: middle; }
.btn.blue { background-color: #53a3ff; color: #fff; -webkit-box-shadow: #006eec 3px 3px 0; -moz-box-shadow: #006eec 3px 3px 0; box-shadow: #006eec 3px 3px 0; -webkit-transition: -webkit-transform 0.1s ease; -moz-transition: -moz-transform 0.1s ease; -o-transition: -o-transform 0.1s ease; transition: transform 0.1s ease; }
.btn.blue:active { -webkit-transform: translate(3px, 3px); -moz-transform: translate(3px, 3px); -ms-transform: translate(3px, 3px); -o-transform: translate(3px, 3px); transform: translate(3px, 3px); -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

/* finwidgets /////////////////////////////////
*/
/* formulaires ////////////////////////////////////
*/
form.form label { display: block; margin-bottom: 1px; }
form.form input[type="text"], form.form input[type="password"] { width: 100%; padding: 4px 8px; border: 1px solid #999; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; margin-bottom: 10px; }

/* fin formulaires /////////////////////////////////
*/
/* regles attachées à la page login /////////////////////////////////
*/
.login-page { background-color: #375c66; }
.login-page .login-form { background-color: #466f79; min-width: 450px; color: #fff; padding: 1em; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: #2a474f 1px 1px 0, #2a474f 2px 2px 0, #2a474f 3px 3px 0, #2a474f 4px 4px 0; -moz-box-shadow: #2a474f 1px 1px 0, #2a474f 2px 2px 0, #2a474f 3px 3px 0, #2a474f 4px 4px 0; box-shadow: #2a474f 1px 1px 0, #2a474f 2px 2px 0, #2a474f 3px 3px 0, #2a474f 4px 4px 0; }
.login-page .login-form .message { margin-bottom: 10px; }
.login-page .login-form input[type="text"], .login-page .login-form input[type="password"] { border: none; -webkit-box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 0; -moz-box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 0; box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 0; }
.login-page .login-form .custom-field { margin-bottom: 10px; }
.login-page .login-form .custom-field span { display: inline-block; vertical-align: baseline; margin: 0 5px; }
.login-page .login-form .switcher { display: inline-block; vertical-align: middle; }
.login-page .login-form .switcher input[type=checkbox], .login-page .login-form .switcher input[type=radio] { display: none; }
.login-page .login-form .switcher > label.switcher-label { display: inline-block !important; width: 44px !important; height: 18px !important; -webkit-border-radius: 30px; -moz-border-radius: 30px; -ms-border-radius: 30px; -o-border-radius: 30px; border-radius: 30px; overflow: hidden !important; position: relative !important; margin: 0 !important; padding: 0 !important; }
.login-page .login-form .switcher > label.switcher-label .switcher-labels { width: 200%; height: 100%; margin-left: -100%; background-color: #fff; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
.login-page .login-form .switcher > label.switcher-label .switcher-labels:before, .login-page .login-form .switcher > label.switcher-label .switcher-labels:after { display: block; float: left; width: 50%; height: 100%; font-size: 10px; color: #fff; padding: 0 2px; line-height: 18px; }
.login-page .login-form .switcher > label.switcher-label .switcher-labels:before { background-color: #53a3ff; content: "OUI"; padding-left: 4px; }
.login-page .login-form .switcher > label.switcher-label .switcher-labels:after { background-color: #ce522f; content: "NON"; text-align: right; padding-right: 4px; }
.login-page .login-form .switcher > label.switcher-label .switcher-btn { position: absolute; top: 2px; left: 2px; z-index: 100; height: 14px; width: 14px; background-color: #fff; -webkit-border-radius: 30px; -moz-border-radius: 30px; -ms-border-radius: 30px; -o-border-radius: 30px; border-radius: 30px; -webkit-transition: all 0.22s ease; -moz-transition: all 0.22s ease; -o-transition: all 0.22s ease; transition: all 0.22s ease; }
.login-page .login-form .switcher input[type=checkbox]:checked + label.switcher-label .switcher-labels, .login-page .login-form .switcher input[type=radio]:checked + label.switcher-label .switcher-labels { margin-left: 0; }
.login-page .login-form .switcher input[type=checkbox]:checked + label.switcher-label .switcher-btn, .login-page .login-form .switcher input[type=radio]:checked + label.switcher-label .switcher-btn { left: 28px; }
.login-page .login-form .bottom-link { padding: 10px 0 0 0; font-size: 0.8em; }

/* fin css pour login.php /////////////////////////////////
*/
/* navigation side bar commune en admin
*/
#left-nav-wrapper { height: 100%; position: fixed; overflow: hidden; width: 250px; top: 0; left: 0; bottom: 0; background-color: #323232; padding-top: 50px; z-index: 500; }

/* fin navigation side bar commune en admin
*/
#page { position: relative; padding-top: 60px; }

/* topbar
*/
#top-bar { height: 50px; position: fixed; top: 0; left: 0; right: 0; width: 100%; background-color: #323232; z-index: 1000; -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 5px 3px; -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 5px 3px; box-shadow: rgba(0, 0, 0, 0.15) 0 5px 3px; }

/* fin topbar
*/
/* regles attachées à la page admin index.php
*/
.admin-home { background-color: #375c66; height: 100%; padding: 0 0 0 250px; }

/* fin regles attachées à la page admin index.php
*/
/* regles attachées à la page nouvel_article.php
*/
.new-item { background-color: #375c66; position: relative; height: 100%; margin: 0 0 0 250px; }

/* fin regles attachées à la page nouvel_article.php
*/
